antiorm
Babel
bcrypt
bleach
blinker
certifi
cffi
charset-normalizer
cinemagoer
click
cryptography
db
detect
dnspython
email-validator
exceptiongroup
extensions
Flask
Flask-BabelEx
Flask-Login
Flask-Mail
flask-mailman
Flask-Principal
Flask-Security
Flask-Security-Too
Flask-SQLAlchemy
Flask-Testing
Flask-WTF
greenlet
idna
importlib-metadata
importlib-resources
iniconfig
itsdangerous
Jinja2
langdetect
lxml
MarkupSafe
mkdocs-material-extensions
mock
mysql
mysql-connector-python-rf
mysqlclient
numpy
packaging
pandas
passlib
pluggy
pool
pycparser
PyMySQL
PyMysqlPool
pyScss
pytest
python-dateutil
pytz
requests
scripts
six
speaklater
SQLAlchemy
stua
testcase
tmdb
tmdbsimple
tomli
typing_extensions
tzdata
urllib3
webencodings
Werkzeug==2.3.6
WTForms
zipp
gunicorn==20.1.0
Quart
httpcore
httpx
Hypercorn
aiofiles
aiomysql
taskgroup
anyio
coverage
h11
h2
hpack
hyperframe
mysql-connector-python
pip
priority
protobuf
python-dotenv
setuptools
sniffio
wheel
wsproto
