<!-- Container for buttons -->
<div class="container my-4 mb-4">
    <!-- Row for buttons -->
    <div class="row justify-content-center mb-4">
        <!-- Suggest Me Movie Button -->
        <div class="col-auto">
            <a class="btn btn-success" href="{{ url_for('next_movie') }}" role="button">Pick a random movie</a>
        </div>
        <!-- Set Filters Button -->
        <div class="col-auto">
            <a class="btn btn-success" href="{{ url_for('set_filters') }}" role="button">Set Filters</a>
        </div>
    </div>
</div>
