<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css') }}">



</head>
<body>

<!-- Footer -->
<div class="footer-basic">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <footer class="footer_area section_padding_130_0">
        <div class="container-fluid"> <!-- Changed from container to container-fluid -->
            <div class="row">
                <!-- Single Widget-->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-footer-widget section_padding_0_130">
                        <!-- Footer Logo-->
                        <div class="footer-logo mb-3"></div>
                        <p>Nextreel 2023</p>
                        <ul>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">DMCA</a></li>

                        </ul>

                    </div>
                </div>
                <!-- Single Widget-->
                <div class="col-12 col-sm-6 col-lg">
                    <div class="single-footer-widget section_padding_0_130">
                        <!-- Widget Title-->
                        <h5 class="widget-title">About</h5>
                        <!-- Footer Menu-->
                        <div class="footer_menu">
                            <ul>
                                <li><a href="#">About Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

<!-- Single Widget-->
<div class="col-12 col-sm-6 col-lg">
    <div class="single-footer-widget section_padding_0_130">
        <!-- Widget Title-->
        <h5 class="widget-title">Contact</h5>
        <!-- Footer Menu-->
        <div class="footer_menu">
            <ul>
                <li>Email us: <a href="mailto:team@nextreel.com">team@nxtreel.com</a></li>
            </ul>
        </div>
    </div>
</div>



            </div>
        </div>
    </footer>
</div>


</body>
</html>