{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/movie_card.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    {% include 'movie_card.html' %}
</div>
{% endblock %}

{% block scripts %}
<script>
    function loadMovieWhenReady() {
        $.getJSON('/movie', function(data) {
            if (data.status === 'waiting') {
                setTimeout(loadMovieWhenReady, 1000);
            } else {
                $('#movie-content').html('<!-- Render movie_card.html content with the movie data -->');
            }
        });
    }
    $(document).ready(function() {
        loadMovieWhenReady();
    });
</script>
{% endblock %}

