<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Style for the navbar buttons -->

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/navbar.css') }}">


</head>
<body>
<nav class="navbar navbar-expand-lg">

    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="all-navbar-buttons-wrapper">
            <div class="logo-wrapper">

                <!-- Added btn-logo class to the anchor tag wrapping the image -->
                <a href="{{ url_for('home') }}" class="btn btn-logo">
                    <img src="{{ url_for('static', filename='nextreel_tentative_logo_nobg.png') }}">
                </a>
            </div>


            <div class="button-wrapper">

                <ul class="navbar-nav ml-auto">
                    <!-- Display "Set Filters" button always -->

                    <li class="nav-item">
                        <a href="/movie" class="btn btn-custom">Pick a Movie</a>
                    </li>

                    <li class="nav-item">
                        <a href="/setFilters" class="btn btn-custom">Set Filters</a>
                    </li>



                </ul>
            </div>
        </div>


    </div>
</nav>
</body>
</html>
