<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Style for the navbar buttons -->

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/navbar.css') }}">


</head>
<body>
<nav class="navbar navbar-expand-lg">

    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="all-navbar-buttons-wrapper">
            <div class="logo-wrapper">

                <!-- Added btn-logo class to the anchor tag wrapping the image -->
                <a href="{{ url_for('home') }}" class="btn btn-logo">
                    <img src="{{ url_for('static', filename='nextreel_tentative_logo_nobg.png') }}">
                </a>
            </div>


            <div class="button-wrapper">

                <ul class="navbar-nav ml-auto">
                    <!-- Display "Set Filters" button always -->

                    <li class="nav-item">
                        <a href="/movie" class="btn btn-custom">Pick a Movie</a>
                    </li>

                    <li class="nav-item">
                        <a href="/setFilters" class="btn btn-custom">Set Filters</a>
                    </li>



                    <!-- Check if the user is authenticated -->
                    {% if current_user.is_authenticated %}
                        <!-- Display user-specific menu if logged in -->
                        <li class="nav-item dropdown">
                            <button type="button" class="btn btn-custom dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ current_user.username }}
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/watched_movies">Watched Movies</a>
                                <a class="dropdown-item" href="/user_watch_list">Watchlist</a>
                                <a class="dropdown-item" href="/account_settings">Settings</a>
                                <a class="dropdown-item" href="/logout">Logout</a>
                            </div>
                        </li>
                    {% else %}
                        <!-- Display general menu if not logged in -->
                        <li class="nav-item">
                            <a href="/login" class="btn btn-custom">Login</a>
                        </li>
                        <!-- Display "Join Nextreel" button only when not logged in -->
                        <li class="nav-item">
                            <a href="/register" class="btn btn-custom">Join Nextreel</a>
                        </li>


                    {% endif %}
                </ul>
            </div>
        </div>


    </div>
</nav>
</body>
</html>
