<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('home') }}">
      <img src="{{ url_for('static', filename='nextreel-wbg.png') }}" alt="Nextreel logo" height="40">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto d-flex align-items-center">
        <li class="nav-item me-2 mb-2 mb-md-0">
          <a class="btn btn-primary" href="{{ url_for('next_movie') }}">Pick a Movie</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-light" href="{{ url_for('set_filters') }}">Set Filters</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
