.bg-cover {
    background-size: cover !important;
}

body {
    min-height: 100vh; /* This is already responsive */
}

/* Custom class to make certain elements span the entire width */
.full-width-element {
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
}

/* Custom class for a transparent container */
.transparent-container {
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

/* Custom class to center content */
.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Custom class for the header wrapper */
.header-wrapper {
  padding: 5vh 0; /* Use viewport height for responsive vertical padding */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styles extracted from header.html */
.full-width-element {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 1.25rem;
  text-align: center;
  color: rgba(50, 50, 50, 0.7);
  vertical-align: baseline;
  position: relative;
  z-index: 2;
}

.backdrop-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-height: 37.5rem;
  background-image: url('https://image.tmdb.org/t/p/original/dMrAwwB7PMC4SjgsTbgmEJblaYd.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .backdrop-container {
    min-height: 25rem;
  }
}
