.bg-cover {
    background-size: cover !important;
}

body {
    min-height: 100vh; /* This is already responsive */
}

/* Custom class to make certain elements span the entire width */
.full-width-element {
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 1.25rem;
  text-align: center;
  color: rgba(50, 50, 50, 0.7);
  position: relative;
  z-index: 2;
}

/* Custom class for a transparent container */
.transparent-container {
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

/* Custom class to center content */
.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Custom class for the header wrapper */
.header-wrapper {
  padding: 5vh 0; /* Use viewport height for responsive vertical padding */
  display: flex;
  align-items: center;
  justify-content: center;
}
