



        /* Custom button styles */
        .btn-custom {
            background-color: #2bb030 !important;
            color: #ffffff !important;
            border: none;
            margin-right: 15px;
            margin-top: 30px;
        }

        /* Hover effect for custom buttons */
        .btn-custom:hover {
            background-color: #2bb030;
        }

        /* Custom logo button styles */

    /* Styles for the anchor tag wrapping the image */
    .btn-logo {
        background: transparent !important;
        border: none !important;
        max-width: 200px;  /* Adjust as needed */
        max-height: 100px;  /* Adjust as needed */
        overflow: visible;
        display: flex;
        text-align: center;  /* Center image horizontally */
        line-height: 100px;  /* Adjust to match height for vertical centering */
        position: relative;  /* Ensure proper stacking context */
        /*vertical-align: top;*/

        }

    /* Styling for the logo image */
    .navbar img {
        max-height: 150px;  /* Adjust as needed */
        max-width: 150px;  /* Adjust as needed */
        /*display: inline;  !* Ensure image is block-level *!*/
        /*margin-top: -25px;*/



    }
        /* Custom navbar styles */
        .navbar {
            position: sticky;
            z-index: 1000;

            max-height: 100px;

            color: #343a40;  /* dark text color */
            /*margin-top:-15px;*/
            background-color: #02243f;
            display: inline;
            align-items: center;
            justify-content: space-between;
            flex-grow: 1;

                        margin-top: -30px;

        }



        /* Style for nav links */
        .navbar a {
            color: #343a40;  /* dark text color */
        }

        .all-navbar-buttons-wrapper {
            flex-grow: 1;
            display: flex;
            justify-content: space-between;
            align-items: center;



        }

        /* Wrapper for logo button */
        .logo-wrapper {

            /*vertical-align: top;*/
            /*align-content: baseline;*/
            max-height: 100px;
            margin-left: -30px;


        }

        /* Wrapper for right-side buttons */
        .button-wrapper {
            display: flex;


        }
