/* Custom button styles */
.btn-custom {
    background-color: #2bb030 !important;
    color: #ffffff !important;
    border: none;
    margin-right: 0.9375em; /* 15px / 16px */
    margin-top: 1.875em;    /* 30px / 16px */
}

/* Hover effect for custom buttons */
.btn-custom:hover {
    background-color: #2bb030;
}

/* Custom logo button styles */

/* Styles for the anchor tag wrapping the image */
.btn-logo {
    background: transparent !important;
    border: none !important;
    max-width: 12.5em; /* 200px / 16px */
    max-height: 12.5vh; /* 100px approximation to vh */
    overflow: visible;
    display: flex;
    text-align: center;
    line-height: 6.25vh; /* 100px / 16px approximation to vh */
    position: relative;
}

/* Styling for the logo image */
.navbar img {
    max-height: 9.375vh; /* 150px approximation to vh */
    max-width: 9.375em; /* 150px / 16px */
}

/* Custom navbar styles */
.navbar {
    position: sticky;
    z-index: 1000;
    max-height: 30.25vh; /* 100px approximation to vh */
    color: #343a40;
    background-color: #02243f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    margin-top: -1.875vh; /* 30px approximation to vh */
}

/* Style for nav links */
.navbar a {
    color: #343a40;
}

.all-navbar-buttons-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Wrapper for logo button */
.logo-wrapper {
    max-height: 6.25vh; /* 100px approximation to vh */
    margin-left: -1.875em; /* 30px / 16px */
}

/* Wrapper for right-side buttons */
.button-wrapper {
    display: flex;
}
