/* Existing Styles */
body, html {
height: 100%;
}

/* New Styles */
body {
background-color: #f4f3f5;
}



.mb-30{
margin-bottom: 30px;
}

.card {
position: relative;
display: flex;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-color: #fff;
background-clip: border-box;
border: 1px solid #d2d2dc;
border-radius: 0;
}

.card .card-body {
padding: 1.25rem 1.75rem;
}

.card-body {
flex: 1 1 auto;
}





label.check {
cursor: pointer;
}

label.check input {
{#position: absolute;#}
visibility: hidden;
pointer-events: none;
}

label.check span {
padding: 7px 14px;
border: 2px solid #d9d7da;
display: inline-block;
color: #e0dde1;
border-radius: 3px;
}

label.check input:checked + span {
border-color: #f0e8f3;
background-color: #e6e0e8;
color: #fff;
}

label.no-gap .col-3 {
margin-bottom: 0 !important;
}

.no-gap > .col-3 {
padding-left: 0 !important;
padding-right: 0 !important;
}





/* Update the card maximum width to make it smaller */
.card {
max-width: 800px;  /* Adjust to half of original size */
/* Add this line to move the card slightly to the left */
margin: 0 auto 0 30%;

}



/* Add these styles to make the checkboxes the same size */
.check span {
/* ... existing styles ... */
width: 100px;  /* Fixed width */
height: 40px;  /* Fixed height */
display: flex;
align-items: center;  /* Center text vertically */
justify-content: center;  /* Center text horizontally */
white-space: nowrap;  /* Prevents the text from wrapping */
overflow: hidden;  /* Hide overflow */
text-overflow: ellipsis;  /* Add ellipsis for overflow text */
}




.container-fluid {
display: flex;
justify-content: center;
align-items: center;
}

/* Add this new style to center the content inside .form-check */
.form-check {
display: flex;
justify-content: center;
align-items: center;
}

@media (max-width: 768px) {
.card {
margin: 1rem; /* Smaller margin on smaller screens */
}
.check span {
padding: 0.25rem 0.5rem; /* Smaller padding on smaller screens */
font-size: 0.8rem; /* Smaller font size on smaller screens */
}

/* Add this new style to center the content inside .form-check */
.form-check {
display: flex;
justify-content: center;
align-items: center;
padding: 0;
}
}


